.service {
  background-image: linear-gradient( 0deg, #3b83bd 10%, #ffffffce 85%);
  padding: 30px;
}

.col {
  margin-top: 20px;
}

.card {
  padding: 30px;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-color: #26272b;
  color: #f0f0f0;
  margin: auto auto;
  opacity: 0.9;
  /* background-image: linear-gradient( 1355deg, #1a43cae5 10%, #0667a0ce 95%); */
}

container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.card-1, .card-2, .card-3{
  background-image: url("../../images/IMAGEN-SOBRE-NOSOTROS.png");
  border-radius: 20px;
  /* opacity: 0.1; */
}

/* .card-2 {
  background-image: url("../../images/IMAGEN-SOBRE-NOSOTROS-2.png");
  border-radius: 20px;
  
}

.card-3 {
  background-image: url("../../images/IMAGEN-SOBRE-NOSOTROS-3.png");
  border-radius: 20px;
  
} */

.card-4 {
  background-image: url("../../images/SERVICIOS.jpg");
  border-radius: 20px;
  /* opacity: 0.1; */
}

.service h3 {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
}

.service ul {
  /* list-style-type: none; */
  margin: auto;
  padding: inherit;
}
